src/main/mule/calculation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="90a900e0-9a81-47cd-a8d7-fb8043d43005" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="calculationFlow" doc:id="a63cb30f-1770-4e69-a7c8-3a26deaceb0f" >
		<http:listener doc:name="Listener" doc:id="3b9d289c-43c7-40d4-9616-c5d519f30003" path="/cc" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[payload.a ++ payload.b]" doc:name="Set Variable" doc:id="cd3a43ac-cb5b-417e-880a-281fe15460de" variableName="maths"/>
		<ee:transform doc:name="Transform Message" doc:id="cfc8b08e-e571-4308-be1c-045a43329472" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
 "adition": payload.a+payload.b,
 "multiplication": payload.a*payload.b
}
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
